Package: biglinux-webapps
Version: 3.0.0-0big0
Depends: coreutils, bigbashview (>= 3.3.2-0biglinux1), python3-bs4, python3-requests, graphicsmagick-imagemagick-compat | imagemagick, sed, grep
Recommends: firefox, brave-browser | google-chrome-stable | google-chrome-beta | google-chrome-unstable | chromium | vivaldi-stable
Architecture: all
Maintainer: eltonff <eltonfabricio10@gmail.com>
Section: web
Priority: optional
Installed-Size:2136
Description: Installs and removes BigLinux WebApps.
Conflicts: biglinux-webapps
Replaces: biglinux-webapps
